h1{
    color: purple;
    font-size: 2.5em;
    text-align: center;
}
p{
    font-style: italic;
    color: black;
    font-size: 1.2em;
    height: 50px;
    width: 100%;
    
}

body{
    background-color: aqua;
    
    background-repeat: no-repeat;
    
}
img{
    float: left;
}