body{
    text-align: center;
    background-color: lightblue;
    margin-top: 10%;
   
}


input{
    background-color:   white;
   
}
#question{
    background-color: white ;
  
    
}
span{
    font-style: italic;
}

button{
    background-color: lightgrey;
}