body {
    display: grid;
  grid-template-columns: 50% 50%;
   grid-template-rows: 25% 25% 25% 25%;
    width: 500pt; /* Add some dimension and color for us to see it better */
    height: 500pt;
    border: solid red 1pt;
  }


  #page {
    display: grid;
    width: 200%;
    height: 200px;
    grid-template: [header-left] "head head" 30px [header-right]
                   [main-left] "nav  main" 1fr [main-right]
                /*  [main-left] "nav nav" 100px [main-right]*/
                /*   [footer-left] "nav  foot" 30px [footer-right]*/
                  / 250px 1fr;
    grid-row: 1/4;
  }

  header {
    background-color: lime;
    grid-area: head;
    text-align: right;
  }

  nav {
    background-color: lightblue;
    grid-area: nav;
  /* width: 50%;*/
   display: grid;
  }

  main {
    background-color: yellow;
    grid-area: main;
  }

  /*footer {
    background-color: red;
    grid-area: foot;
  }*/

  /*
  .grid {
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
    border: solid black 2pt;
    grid-row: 4/5;
  } */

 /* 
 .our-grid-item {
    grid-column: 50% 50%;
    grid-row: 4/5;
    border: solid black 2pt; /* add color and dimension to see more easily 
    margin: 20pt 5pt;
    padding: 2pt 5pt;
  }  */