.about{
	width: 100%;
	padding: 120px 0px;
	background-color: #191919;
}


.about img{
	height: 50vh;
	width: 500px;
	margin-right: 50px;
	padding-right: 50px;
}

.about-text{
	width: 550px;
	margin-bottom: 10px;
	
}
.main{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.about-text h2{
	color: white;
	font-size: 75px;
	text-transform: capitalize;
	margin-top: 20px;
}
.about-text h5{
	color: white;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
}
.about-text p{
	color: grey;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}
/*button{
	background-color:#f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}
button:hover{
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}*/

.about-text a {
	font-size: 20px;
	color: whitesmoke;
	padding: 10px;
	line-height: 2px;	
	text-decoration: none;
	border: 2px solid black;
	border-radius: 10px;
}

.about-text a:hover {
	background-color: #c7b37d;
	color: #191919;
}

.home_link a {
	margin-left: 5%;
	border: 2px solid black;
	border-radius: 10px;
	width: 50px;
	padding: 10px;
	font-size: 20px;
	text-decoration: none;
	color: whitesmoke;
	font-weight: bold;
	transition: .4s;
	
}

.home_link a:hover {
	background-color: #c7b37d;
	color: black;
}



